div#titleoutfitpart.row.container{
    text-align:center;
    background-image: url('../images/flames.jpg');
    margin-top:5px;
    color:#ffffff;
}
div#navitempart.row.container{
    text-align:center;
    background-image: url('../images/flames.jpg');
    margin-top:5px;
    color:#ffffff;
}
div#navigatedetails.row.container{
    padding-top:10px;
    font-family: 'Permanent Marker', cursive;

}
div#navigatedetails1.row.container{
    margin-top:10px;
    font-family: 'Permanent Marker', cursive;

}
input{
    
    padding-left: 10px;
    padding-top: 10px;
    width: 190px;
    padding-bottom: 10px;
    font-family: 'Permanent Marker', cursive;



}
h1{
    color:#ffffff;
}
a#returnoutfits.btn.btn-default{
    opacity:.6;
    border:none;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top:0px;
   
}
div#navigatepart.row.container{
    padding-left:180px;
}
div#createRow.row.container{
    margin-top:5px;
    font-family: 'Permanent Marker', cursive;
    background-color:slategray;
}
div#createRowvideo.row.container{
    margin-top:5px;
    width:630px;
    margin-left:300px;
}
div#outfitpart.row.container{
    margin-top:5px;
    margin-bottom:10px;
    border-color: #000000;
    border-style: groove;
    border-width: 3px;
    width: 860px;
    margin-left: 165px;
    background-image: url('../images/flames.jpg');
}
body{
    background-color:slategray;
}
div#outfitimg.row.container {
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: #000000;
    border-style: groove;
    border-width: 3px;
    width: 860px;
    margin-left: 165px;
    background-image: url('../images/flames.jpg');
}
div#outfitimg.col-md-3{
    width:200px;
    border-color: #000000;
    border-right:groove;
    border-width: 3px;
   
}
div.carosel.row.container{
    width:1120px;
    margin:auto;
    margin-top:5px;
}


div#myCarousel.carousel.slide{
    width:1140px;
    height:232px;
}
p#welcomeText{
    text-align:center;
    color:#000000;
    font-size:20px;
    font-family: 'Permanent Marker', cursive;

}
h2#welcomeTitle{
    text-align:center;
    color:#000000;
    font-size:35px;
    font-family: 'Permanent Marker', cursive;

}
.carousel-inner > .item > img {
    margin: 0 auto;
}

div#navdetbtn.col-md-6{
    width:120px;
    padding-left:0px;
    padding-right:0px;
}
div#navdetbtn1.col-md-6{
    margin-left:400px;
    width:150px;
}
a#return.btn.btn-default{
    font-family: 'Permanent Marker', cursive;
    margin-left: 500px;
    margin-top: 5px;
    width:120px;
    height:35px;

}
div#titleoutfitpart.row.container{
    font-family: 'Permanent Marker', cursive;
    height:70px;
}
div#detailsrow.row.container{
    margin-top:10px;
}
div#detailscol2row1.row.container{
    padding-top:10px;
}
div#detailsCol1.col-md-6{
    width:230px;
    padding-top:5px;
    padding-left:30px;
}
div#detailsCol2.col-md-6{
    width:230px;
    padding-top:5px;
    padding-left:30px;
    font-family: 'Permanent Marker', cursive;

}
div#detailsCol2.col-md-3{
    width:1100px;
    height:40px;
}
div#navpartbtn.col-md-3{
    font-family: 'Permanent Marker', cursive;
   
    height:35px;

}
div#backonepage1.col-md-12{
    font-family: 'Permanent Marker', cursive;
    width:175px;
    height:35px;
    margin-left:480px;

}
div#backonepage2.col-md-12{
    font-family: 'Permanent Marker', cursive;
    width:160px;
    height:75px;
    width:1120px;
    
    background-image: url('../images/flames.jpg');
}
div#backonepage.row.container{
    margin-bottom:10px;
    margin-top:15px;
    color:#000000;
}
div#backonepage2.row.container{
    margin-bottom:10px;
    margin-top:15px;
    color:#000000;
    margin-left:25px;
}

div#navpartbtn1.col-md-3{
    font-family: 'Permanent Marker', cursive;
    padding-left:75px;
    height:35px;

}
div#navpartbtn2.col-md-3{
    font-family: 'Permanent Marker', cursive;
   padding-left:25px;
    height:25px;

}
div#navpartbtn3.col-md-3{
    font-family: 'Permanent Marker', cursive;
   padding-left:0px;
    height:25px;
    width:195px;

}
.nav a{
        font-family: 'Permanent Marker', cursive;
}
.navbar-brand{
            font-family: 'Permanent Marker', cursive;
}
div#outfitswelcome.row.container {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border-color: #000000;
    border-style: groove;
    border-width: 3px;
    height: 96px;
    background-image: url('../images/flames.jpg');
    margin-top:5px;
    margin-left:10px;
    
}
div.navbar.navbar-inverse.navbar-fixed-bottom{
        background-image: url('../images/flames.jpg');

}